{% block title %}Adicionar Regra de Validação{% endblock %}

{% block content %}
    <h1>Adicionar uma Regra de Validação para {{ spreadsheet.name }}</h1>
    <form method="post">
        <label for="column_name">Nome da Coluna:</label>
        <input type="text" id="column_name" name="column_name" required>
        <br><br>
        <label for="data_type">Tipo de Dado:</label>
        <select name="data_type" id="data_type">
            {% for data_type in data_types %}
                <option value="{{ data_type.name }}">{{ data_type.value }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="date_format">Formato da Data (se aplicável):</label>
        <input type="text" id="date_format" name="date_format">
        <br><br>
        <input type="checkbox" id="required" name="required" value="1" checked>
        <label for="required">Obrigatório</label>
        <br><br>
        <button type="submit">Adicionar Regra</button>
    </form>
{% endblock %}
