{% block title %}Adicionar Regra de Validação{% endblock %}

{% block content %}
    <h1 class="mb-4">Adicionar uma Regra de Validação para {{ spreadsheet.name }}</h1>
    <form method="post">
        <div class="mb-3">
            <label for="column_name" class="form-label">Nome da Coluna:</label>
            <input type="text" class="form-control" id="column_name" name="column_name" required>
        </div>
        <div class="mb-3">
            <label for="data_type" class="form-label">Tipo de Dado:</label>
            <select name="data_type" id="data_type" class="form-select">
                {% for data_type in data_types %}
                    <option value="{{ data_type.name }}">{{ data_type.value }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="date_format" class="form-label">Formato da Data (se aplicável):</label>
            <input type="text" class="form-control" id="date_format" name="date_format">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="required" name="required" value="1" checked>
            <label class="form-check-label" for="required">Obrigatório</label>
        </div>
        <button type="submit" class="btn btn-primary">Adicionar Regra</button>
    </form>
{% endblock %}
