{% extends 'base.html' %}

{% block title %}Validation Report{% endblock %}

{% block content %}
    <h1 class="mb-4">Relatório de Validação para {{ filename }}</h1>
    {% if errors %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Erros Encontrados:</h4>
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            <hr>
            <a href="{{ url_for('download_report', spreadsheet_id=spreadsheet_id, filename=filename) }}" class="btn btn-danger">Baixar Relatório PDF</a>
        </div>
    {% else %}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Nenhum Erro Encontrado!</h4>
            <p>Sua planilha foi validada com sucesso.</p>
        </div>
    {% endif %}
    <a href="{{ url_for('upload_file') }}" class="btn btn-secondary mt-3">Upload de outra planilha</a>
{% endblock %}
